body {
    background-color: rgb(255, 228, 94);
    margin: 0;
    font-family: 'Figtree', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 228, 94);
    padding: 40px 20px;
}

.container-img {
    margin-bottom: 20px;
    background-color: white;
    border: 29px solid white;
    border-radius: 15px;
    box-shadow: 10px 10px black;
}

.container-img img {
    width: 450px;
    height: auto;
    max-width: 100%;
}

.mini-container {
    width: 100%;
    text-align: center;
}

.learning {
    padding: 10px;
    background-color: rgb(255, 228, 94);
    border-radius: 10px;
    font-size: large;
    letter-spacing: 1.1px;
    margin-bottom: 15px;
    width: fit-content;
}

.heading {
    font-size: x-large;
    text-align: left;
    width: 100%;
    cursor: pointer;
    margin: 15px 0 10px 0;
}
.heading:hover{
    color: rgb(255, 228, 94);
}

.p1 {
    font-size: 15px;
    text-align: left;
    margin: 10px 0;
    opacity: 0.9;
    width: 100%;
}

.p2 {
    font-size: 20px;
    text-align: left;
    margin: 10px 0;
    opacity: 0.7;
    width: 100%;
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
    width: 100%;
}

.profile img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

h2 {
    font-size: 16px;
}

/* Media query for mobile devices */
@media screen and (max-width: 576px) {
    .container-img img {
        width: 100%;
        height: auto;
    }

    .learning {
        font-size: medium;
    }

    .heading {
        font-size: 18px;
    }

    .p1, .p2 {
        font-size: 12px;
    }

    .profile img {
        width: 30px;
        height: 30px;
    }

    h2 {
        font-size: 14px;
    }
}
